/*! dsCarousel */

/* ==========================================================================
   Global Styles
   ========================================================================== */
   
h1			{font:70px/70px Verdana, Arial, sans-serif; text-transform:uppercase; color:#333;}
h2			{font:64px/64px Verdana, Arial, sans-serif; text-transform:uppercase; color:#333;}
h3			{font:30px/30px Verdana, Arial, sans-serif; text-transform:uppercase; color:#333;}
h4			{font:24px/24px Verdana, Arial, sans-serif; text-transform:uppercase; color:#333;}
h5			{font:21px/21px Verdana, Arial, sans-serif; text-transform:uppercase; color:#333;}
h6			{font:18px/18px Verdana, Arial, sans-serif; text-transform:uppercase; color:#333;}
p			{font:14px/20px Verdana, Arial, sans-serif; color:#333;}
a			{color:#333;}

#container {
	margin:0 auto;
	width:100%;
	max-width:940px;
	position:relative;
}

/* ==========================================================================
   The Rest
   ========================================================================== */
   
#dsCarouselContainer {
	width: 500px;
	overflow: hidden;
	position: relative;
}

#dsCarouselContainer > ul {
	position: relative;
}

#dsCarouselContainer > ul > li {
	display: block;
	float: left;
}